.Toolbar {
    height: 56px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: rgb(9,22,16); */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;/*0 20px;*/
    box-sizing: border-box;
    z-index: 3;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}