@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.backRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1200px;
    background-image: linear-gradient(to top right,#40916c, #2d6a4f);
    border-radius: 10px;
    z-index: 0;
}

.frontRectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 1150px;
    background-image: linear-gradient(to top right,#40916c, #2d6a4f);
    border-radius: 10px;
    z-index: 20;
}

.mainSection {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    padding: 0 50px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.5em;
}

.skillSection {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 150px;
}

/* .listSkill {
    display: flex;
    flex-direction: column;
    width: 50%;
} */

.title {
    padding: 0.5rem 0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.split {
    display: flex;
    flex-direction: row;
}